# .github/workflows/release-to-pypi.yaml
# https://docs.astral.sh/uv/guides/package/#building-and-publishing-a-package
# https://docs.astral.sh/uv/guides/integration/github/#publishing-to-pypi

# TODO -> Trusted Publishing + publish attestations:
# 1. https://docs.pypi.org/trusted-publishers/adding-a-publisher
# 2. https://github.com/astral-sh/attest-action/blob/main/README.md

name: Publish Python Package with uv

permissions:
  contents: write

on:
  push:
    tags:
      - "v*" # Triggers on tags like v1.0.0

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  COLUMNS: 150
  CI: 1
  FORCE_COLOR: 1
  JUST_COLOR: always
  JUST_COMMAND_COLOR: purple
  JUST_EXPLAIN: true
  JUST_HIGHLIGHT: true

jobs:
  publish:
    name: Build and Publish with uv
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Set up uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          enable-cache: true
          cache-python: true
          cache-local-path: ${{ runner.temp }}/setup-uv-cache
          cache-dependency-glob: |
            uv.lock
            pyproject.toml
            .python-version
      - name: Install just
        uses: taiki-e/install-action@2723513a70062521fb56e5df87a04967751efd2f # 2.68.4
        with:
          tool: just
      - name: Build with uv
        run: just build
      - name: Smoke test (wheel)
        run: just test-smoke-on-wheel
      - name: Smoke test (source distribution)
        run: just test-smoke-on-source-distribution
      - name: Publish with uv
        env:
          UV_PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        run: uv publish --token "$UV_PYPI_TOKEN"

      - name: Set the latest tag
        uses: EndBug/latest-tag@cce4de6d46f34a17b99785d5574a351f4289fd59 # latest
        with:
          # You can change the name of the tag or branch with this input.
          # Default: 'latest'
          ref: latest
          # If a description is provided, the action will use it to create an annotated tag. If none is given, the action will create a lightweight tag.
          # Default: ''
          description: The latest release.
          # Force-update a branch instead of using a tag.
          # Default: false
          force-branch: false
          # Directory to use when executing git commands
          # Default: '${{ github.workspace }}'
          git-directory: "${{ github.workspace }}"
